.about__header {
  /* background: transparent; */
  background-image: url("./images/about\ image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  height: 30rem;
}

.nav__container {
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  padding: 0 10% 0 10%;
}

.nav__menu a {
  color: white;
}

.image_about {
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 30rem;
  color: #fff;
}

.image_about h1 {
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 1rem;
}

.image_about p {
  text-align: center;
  font-size: 1.6rem;
}

/* .image_about img {
  width: 100%;
  object-fit: cover;
  height: 28rem;
} */

.window-scroll a {
  transition: var(--transition);
  color: #ec5242;
  border-bottom: 2px solid var(--color-primary);
  font-weight: 800;
  font-size: 1.8rem;
}

.about__title {
  margin: 3rem 0 2rem 0;
}

.about__values {
  background: #fbfcfd;
}

.values__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-column-gap: 4%; */
}

.about__container h1 {
  text-align: center;
}

.vision {
  background: #5f5f5fe2;
  margin: 0 5px 0 0;
  padding: 1rem;
  color: #fff;
  width: 22rem;
  height: 12rem;
  text-align: center;
  border-radius: 8px;
}

/* =======Media querries========== */
@media screen and (max-width: 1024px) {
  .values__container {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  .image_about p {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
