@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-primary: #ec5242;
  --color-bg: #f7f7f7;
  --color-dark: rgba(0, 0, 0, 0.9);
  --transition: all 400ms ease;
  --color-white: #fff;

  --container-width-lg: 82%;
  --container-width-md: 94%;
  --container-width-sm: 96%%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-dark);
  background: var(--color-bg);
  scroll-behavior: smooth;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-dark);
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

/* ***************Navbar****************** */
nav {
  background: transparent;
  width: 100vw;
  height: 6rem;
  position: fixed;
  z-index: 11;
}

/* change navbar color on scroll using JS */

.window-scroll {
  /* background: #d3d3d3; */
  background: var(--color-white);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  backdrop-filter: blur(189px);
  transition: var(--transition);
  color: var(--color-primary);
  top: 0;
  
}

.window-scroll a {
  transition: var(--transition);
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  font-weight: 800;
  font-size: 1.8rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav__container button {
  width: 2rem;
}

.nav__container button {
  display: none;
}

.app__logo {
  width: 14rem;
}

.nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 1.4rem;
  font-weight: 600;
}

.nav__menu a:hover {
  color: var(--color-primary);
  transition: var(var(--transition));
}

.nav__menu a span {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 10px;
}

.nav__menu a span:hover {
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
  transition: var(--transition);
  border-bottom: none;
}

/* Header Section */

#header__container {
  background-image: url(images/sabre-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-bottom: 7rem;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 8%;
}

.details-text-one {
  color: #ec5242;
}

.details-heading {
  font-family: "COCOGOOSE", sans-serif;
  padding: 20px 0;
  /* font-size: 3.5rem; */
  font-weight: 700;
  color: #ec5242;
  width: 70%;
  text-transform: uppercase;
}

span {
  color: var(--color-primary);
  font-weight: 600;
}

.details-paragraph {
  padding: 20px;
  font-size: 1.2rem;
  background-color: transparent;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  width: 50%;
}

.details-date {
  font-weight: 800;
  font-size: 26px;
  margin-top: 30px;
}

.details-text-two {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}

/* program section */

.program-section {
  background-color: #272a31;
  background-image: url(images/main-bg.png);
  color: #fff;
  padding: 40px 0;
}

.program__container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 31px;
  width: var(--container-width-lg);
  margin: 0 auto;
}

.upper-layout {
  width: 100%;
  height: 30px;
  background-color: #272a31;
  color: #fff;
  font-size: 14px;
}

.upper-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15%;
  padding-top: 0.5%;
  gap: 16px;
}

.upper-items {
  list-style-type: none;
}

.upper-group li i {
  font-size: 14px;
}

.program__card {
  flex-direction: column;
  width: 17rem;
  height: 17rem;
  background-color: #5f5f5f50;
  padding: 0.8rem;
  margin: 0 5px 0 0;
  /* overflow: hidden; */
  margin-bottom: 0.9rem;
}

.program__card:hover {
  border: 1px solid var(--color-white);
  transition: all 5s ease;
  border-radius: 8px;
}

.program__card img {
  width: 13rem;
  height: 7rem;
  object-fit: cover;
  margin: auto;
}

.program__card h4 {
  font-size: 1rem;
  margin: 0.6rem 0 0.6rem 0;
}

.program__card p {
  font-size: 0.8rem;
}

.program__header {
  text-align: center;
}

.program__header h3 {
  margin-bottom: 0.5rem;
}

.program__header div {
  border: 1px solid var(--color-primary);
  width: 8%;
  margin: auto;
}

.program__header a {
  margin-bottom: 0.5rem;
  color: var(--color-white);
  font-size: 1.24rem;
  font-weight: 600;
}

.program__header a:hover {
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  font-size: 1.27rem;
  font-weight: 800;
}

/* Speaker section */

.featured-speakers-section {
  background-color: #ededed;
  opacity: 0.9;
  padding: 3% 8% 4% 0;
}

.speaker-proceedings {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-column-gap: 4%;
  grid-row-gap: 2%;
  margin-top: 4rem;
  box-sizing: border-box;
  width: var(--container-width-lg);
  margin: 0 auto;
}

.speaker-presentation {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.speaker-bg-img {
  background-image: url(images/speakers-background.jpg);
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.speaker-bg-img img {
  width: 135px;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
  padding-left: 13%;
  padding-top: 13%;
}

.speaker-content {
  line-height: 28px;
}

.speaker-line {
  width: 9%;
  height: 3px;
  background-color: #d3d3d3;
  margin: 10px 0;
}

.description {
  font-style: italic;
  color: #ec5242;
  font-weight: bold;
}

.bio {
  font-size: 14px;
}

.sponsors {
  /* background: var(--color-primary); */
  /* background-position: center; */
  background-color: #272a31;
  background-image: url(images/main-bg.png);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.sponsors__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background: #5f5f5f50;
  margin: 1rem 0 0 0.8rem;
  padding: 1.6rem;

}

.sponsor__image {
  width: 100%;
  height: 6rem;
}

.sponsor__image img {
  width: 100%;
  height: 6rem;
  object-fit: contain;
}

.article__card p {
  color: var(--color-white);
  font-weight: 400;
  line-height: normal;
  font-size: 0.89rem;
  font-style: normal;
}

.article__card:hover {
  border: 1px solid var(--color-white);
  transition: var(--transition);
}

.sponsors__header {
  text-align: center;
}

.sponsors__header h3 {
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.sponsors__header div {
  border: 1px solid var(--color-white);
  width: 8%;
  margin: auto;
}

.footer {
  background: var(--color-primary);
  /* background: #d3d3d3; */
  padding: 4rem 0 4rem 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__category h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-white);
}

.footer__category h5:hover {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-white);
}

/* ===========Media Querries for Tablets================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* ===Nav Section===== */

  .nav__container button {
    display: inline-block;
    background: transparent;
    color: var(--color-white);
    font-size: 1.8rem;
    cursor: pointer;
  }

  #close-menu-btn {
    display: none;
  }

  .app__logo {
    width: 12rem;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--color-white);
    color: var(--color-dark);
    box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border: none;
  }

  .nav__menu li a:hover {
    color: var(--color-primary);
  }

  /* =====Header section */

  .header__container {
    margin-top: 3rem;
  }

  .header__container h1 {
    font-weight: none;
    font-size: 2rem;
    width: 100%;
  }

  .header__container p {
    width: 100%;
  }

  /* ====Program Section===== */
  /* .program-section {
    height: auto;
    flex: 1;
  } */

  .program__container {
    width: var(--container-width-md);
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  .program__card {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .program__card img {
    width: 16rem;
  }

  /* speakers section */

  .speaker-proceedings {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sponsors__container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  .footer__container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
  }
}

/* =====================Mobile==================== */
@media screen and (max-width: 600px) {
  /* .container {
    width: var(--container-width-sm);
  } */

  .nav__menu {
    right: 2%;
  }

  .header {
    height: 100vh;
  }

  .header__container {
    display: grid;
    grid-template-columns: 1fr;
    /* text-align: center; */
    margin-top: 4rem;
  }

  .header__container h2 {
    font-size: 1.5rem;
  }

  .header__container h1 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .featured-speakers-section {
    margin-bottom: 10rem;
  }

  .speaker-proceedings {
    grid-template-columns: 1fr;
  }
  .speaker-presentation {
    grid-template-columns: 1fr 1fr;
  }

}
