@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *******************************************Mobile Version************************************** */

@media screen and (max-width: 768px) {
  /* start of hidden displays */
  .nav-bar {
    display: none;
  }

  .partners-list {
    display: none;
  }

  .footer-rights {
    display: none;
  }

  .speaker-Presentation {
    display: none;
  }

  .upper-layout {
    display: none;
  }

  /* end of hidden displays */

  #details-section {
    /* position: relative; */
    /* top: 0; */
    background-image: url(../images/sabre-bg.png);
    /* width: 100%; */
    padding-bottom: 11%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-left: 10%;
    padding-top: 4%;
  }

  .bars {
    display: block;
    width: 28px;
    height: 5px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ec5242;
  }

  .hamburger.active .bars:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bars:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Mobile Menu for JS */
  .nav-menu {
    position: fixed;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: -100%;
    transition: top 0.3s ease;
    backdrop-filter: blur(6px);
    background-color: rgb(236 82 66 / 65%);
  }

  .nav-menu.active {
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding: 1px 0 0 28px;
  }

  .main-program-link a {
    color: #fff;
    text-decoration: none;
    background: #ec5242;
    padding: 4%;
    font-size: 24px;
  }

  .nav-menu li {
    margin: 16px 0;
    color: white;
    list-style-type: none;
  }

  .nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 28px;
  }

  #menu-x {
    margin-left: 83%;
    font-size: 14px;
  }

  .details-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10%;
    padding-top: 8%;
  }

  .details-text-one {
    color: #ec5242;
  }

  .details-heading {
    font-family: "COCOGOOSE", sans-serif;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ec5242;
    width: 70%;
  }

  .details-paragraph {
    padding: 10px;
    border: 3.5px solid #fff;
    background-color: #f7f7f7;
    margin: 1%;
    line-height: 24px;
    width: 75%;
  }

  .details-date {
    font-weight: 800;
    font-size: 22px;
  }

  .details-text-two {
    font-size: 16px;
    font-weight: 300;
    margin-top: 16px;
  }

  .program-section {
    background-color: #272a31;
    background-image: url(../images/main-bg.png);
    color: #fff;
    padding: 14px;
  }

  .main-program-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-line {
    width: 5%;
    height: 2px;
    background-color: #ec5242;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .program-Presentation {
    display: grid;
    grid-template-columns: 16% 16% 60%;
    align-items: center;
    background-color: #5f5f5f50;
    grid-column-gap: 3%;
    padding: 4% 1%;
    margin: 20px;
  }

  .program-Presentation:hover {
    border: 1px solid #fff;
    cursor: pointer;
  }

  .program-Presentation h4 {
    color: #ec5242;
  }

  .main-program-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-program-link a:hover {
    color: #ec5242;
    text-decoration: none;
    background: #fff;
    padding: 2%;
    font-size: 26px;
    border: 2px solid #ec5242;
  }

  .featured-speakers-section {
    background-color: #ededed;
    opacity: 0.9;
    padding: 3% 8% 4% 10%;
  }

  .speaker-proceedings {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2%;
    margin-top: 40px;
    box-sizing: border-box;
  }

  #speakers-presenting {
    display: flex;
    flex-direction: row;
    gap: 2%;
  }

  .speaker-bg-img {
    background-image: url(../images/speakers-background.jpg);
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
  }

  .speaker-bg-img img {
    width: 132px;
    height: 152px;
    object-fit: cover;
    object-position: bottom;
    padding-left: 10%;
    padding-top: 13%;
  }

  .speaker-content {
    line-height: 20px;
  }

  .speaker-line {
    width: 9%;
    height: 3px;
    background-color: #d3d3d3;
    margin: 10px 0;
  }

  .description {
    font-style: italic;
    color: #ec5242;
    font-size: 12px;
    font-weight: 600;
  }

  .bio {
    font-size: 12px;
    font-weight: 600;
  }

  .speaker-more-btn {
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    padding: 22px;
    font-weight: 800;
    margin-top: 37%;
    background-color: #fff;
    color: #555;
    border: 2px solid #d3d3d3;
    font-family: "Lato", sans-serif;
  }

  .speaker-more.btn i {
    color: #ec5242;
    font-size: 28px;
  }

  .speaker-more-btn:hover {
    font-weight: 500;
    margin-top: 50px;
    background-color: #ec5242;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #d3d3d3;
    padding-bottom: 15px;
  }
}

/* ****************************Desktop Version*************************************************** */

@media screen and (min-width: 768px) {
  /* start of hidden displays */

  .hamburger {
    display: none;
  }

  .speaker-more-btn {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  /* end of hidden displays */

  .upper-layout {
    width: 100%;
    height: 30px;
    background-color: #272a31;
    color: #fff;
    font-size: 14px;
  }

  .upper-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
    padding-top: 0.5%;
    gap: 16px;
  }

  .upper-items {
    list-style-type: none;
  }

  .upper-group li i {
    font-size: 14px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
  }

  .nav-group {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 48px;
  }

  .sabre-logo {
    width: 92%;
    height: 50px;
  }

  .nav-links {
    text-decoration: none;
    font-size: 20px;
  }

  #nav-about {
    color: #ec5242;
  }

  #nav-border {
    border: 6px solid #ec5242;
    padding: 8px;
  }

  #details-section {
    background-image: url(../images/sabre-bg.png);
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
  }

  .details-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10%;
    padding-top: 8%;
  }

  .details-text-one {
    color: #ec5242;
  }

  .details-heading {
    font-family: "COCOGOOSE", sans-serif;
    padding: 20px 0;
    font-size: 3.5rem;
    font-weight: 700;
    color: #ec5242;
    width: 70%;
  }

  .details-paragraph {
    padding: 20px;
    border: 3.5px solid #fff;
    background-color: #f7f7f7;
    margin: 1%;
    line-height: 25px;
    width: 50%;
  }

  .details-date {
    font-weight: 800;
    font-size: 26px;
    margin-top: 30px;
  }

  .details-text-two {
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
  }

  .program-section {
    background-color: #272a31;
    background-image: url(../images/main-bg.png);
    color: #fff;
    padding: 40px 0;
  }

  .main-program-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-line {
    width: 5%;
    height: 2px;
    background-color: #ec5242;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .program-titles {
    font-size: 18px;
    color: #ec5242;
    font-weight: bold;
    padding: 12px;
  }

  .program-texts {
    align-self: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  .program-proceedings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .program-Presentation {
    width: 18%;
    background-color: #5f5f5f50;
    padding: 3% 2%;
    margin: 3px;
    text-align: center;
    cursor: pointer;
  }

  .program-Presentation:hover {
    border: 2px solid #fff;
    cursor: pointer;
    padding: 3%;
    transition-duration: 0.2s;
  }

  .main-program-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-program-link a {
    color: #fff;
  }

  .featured-speakers-section {
    background-color: #ededed;
    opacity: 0.9;
    padding: 3% 8% 4% 10%;
  }

  .speaker-proceedings {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 4%;
    grid-row-gap: 2%;
    margin-top: 40px;
    box-sizing: border-box;
  }

  .speaker-Presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }

  .speaker-bg-img {
    background-image: url(../images/speakers-background.jpg);
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
  }

  .speaker-bg-img img {
    width: 135px;
    height: 150px;
    object-fit: cover;
    object-position: bottom;
    padding-left: 13%;
    padding-top: 13%;
  }

  .speaker-content {
    line-height: 28px;
  }

  .speaker-line {
    width: 9%;
    height: 3px;
    background-color: #d3d3d3;
    margin: 10px 0;
  }

  .description {
    font-style: italic;
    color: #ec5242;
  }

  .bio {
    font-size: 14px;
  }

  .partners-list {
    padding: 2% 0% 2% 0%;
    background-color: #272a31;
  }

  .partner-program-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8d8d8d;
  }

  .list-group-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 24px;
    padding-top: 2%;
    font-weight: 600;
    font-size: 20px;
    color: #8d8d8d;
  }

  .list-item-partners1 {
    font-family: "Lato", sans-serif;
  }

  .list-item-partners2 {
    font-family: "COCOGOOSE", sans-serif;
  }

  .footer-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #ededed;
  }

  .footer-rights img {
    width: 5%;
    height: 5%;
  }

  .footer-infromation {
    padding-left: 3%;
    line-height: 26px;
  }

  .footer-details {
    padding-top: 1%;
  }
}
